<!DOCTYPE html>
<html> <head> </head> <body>


<!--<%#=	x = params[:candlenum] %>-->
<%	@x.times do %>
  <img src="https://cdn3.volusion.com/nrtht.vrgud/v/vspfiles/photos/10010-2.jpg">
<%end%>
  

<br>
<% @y.times do%>
  <img src="https://cdn11.bigcommerce.com/s-3g94uq0wop/images/stencil/1280x1280/products/1393/2530/TSP1-8__30342.1502815327.jpg?c=2&imbypass=on" width="200" height="175">
<% end %>

<br>
<% @z.times do%>
  <img src="https://www.save-on-crafts.com/media/catalog/product/cache/3/image/650x/4ab5f96ba821f6793c9aaccc3424405a/_/m/_mg_1874_1_1.jpg">
<%end%>

</body>
</html>


