<!DOCTYPE html>
<html> <head> </head> <body>


<h1> This is a test. </h1>

<%= if 5 > 2 %>
 <%= puts "Hello" %>
 <% else %>
 <%= puts "Goodbye" %>

<!--<%= 3.times do %>-->
<!--	<% "Testing again" %> -->
<!--<% end %>-->
	

<img src="https://cdn3.volusion.com/nrtht.vrgud/v/vspfiles/photos/10010-2.jpg"> </img>

</body>
</html>
